/* App.css */
body {
  margin: 0 auto;
  width: 80%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 8px 16px;
  background-color: #eeeeee;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #c9c9c9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li p {
  margin-bottom: 5px;
}

li button {
  margin-right: 5px;
}

li div {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

.user-detail {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.user-detail h2 {
  margin-top: 0;
}

.user-detail p {
  margin-bottom: 5px;
}

.user-detail button {
  margin-right: 5px;
}

.user-list {
  margin-bottom: 20px;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 425px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
